#title
{
  background-color: #ff4c68 ;
  color: #fff;
}
body
{
  font-family: "Montserrat";
}
h1
{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid
{
  padding: 3% 12% ;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar
{
  padding: 0 0 4.5rem;
}
.fas fa-heart
{
  padding: 0 0 4.5rem;
  color: #ff4c68;
}
.nav-item
{
  padding: 0px 18px;
}

.rotate {
  background-color: transparent;
  padding: 0% 5%;
  transform: rotate(25deg);
}

.nav-link
{
  font-size: 1.2rem;
  font-family: 'Ubuntu';
}

#footer{
  padding: 7% 15%;
  text-align: center;
}
.dowbtn
{
  margin: 5% 3% 5% 0;
}
.title-image
{
  width: 60% ;
}
.icon
{
  color: #ef8172;;
  padding: 2rem;
}
.icon:hover
{
  color: #ff4c68;
}
#features
{
  padding: 7% 12% ;
}

.fe
{
  text-align: center;
  padding:5%;
}
#paraa
{
  padding: 0% 15%;
}
#paraa2
{
  padding: 0% 15%;
}
#paraa3
{
  padding: 0% 15%;
}
p
{
  color: #8f8f8f;
  font-weight: bold;
  font-family: sans-serif;
}

#testimonials
{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
h2
{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image
{
  width: 10% ;
  border-radius: 100% ;
  margin: 20px;
}

.carousel-item
{
    padding: 7% 15%;
}

#press
{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-section
{
  width: 15%;
  margin: 20px 20px 50px;
}

#cta{

  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading
{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

#pricing
{
  padding: 100px;
  text-align: center;
}

pricing-col
{
  padding: 3% 2%;
}
.iconfooter
{
  padding: 2rem;
  font-size: 3rem;
}
